<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <!-- Log 檔案所在目錄 -->
    <add key="LOG_PATH" value="C:\Changingtec\SPBank\Log"></add>
    <!-- 1: INFO, DEBUG, ERROR, 2: DEBUG, ERROR, 3: ERROR -->
    <add key="LOG_LEVEL" value="1"></add>
    <!-- Log 檔案最大限制 (MB) -->
    <add key="LOG_SIZE" value="4"></add>
  </appSettings>
  <connectionStrings>
    <add
        name="ConnectionString"
        connectionString="aFdJVjBrWlhPbDhOQ2ZXQk42cUw3Mjg0eFlzVU8vQkxIK3ZrOWhtRHV4Z3lIa3JxWWQxcFJzTjRmc1FDQ0hQbm8xY0svSXd5NXc4NTVTQ3dmTzI1a0ZGSDRzU053S1IwRlhkZktOTjNnekU9"
        providerName="System.Data.SqlClient"
    />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add path="Images" verb="GET,POST" type="eFiling.Images_Handler" name="Images_Handler"/>
      <add path="UploadFile" verb="GET,POST" type="eFiling.UploadFile_Handler" name="UploadFile_Handler"/>
      <add path="GetImageBase64" verb="GET,POST" type="eFiling.GetImageBase64_Handler" name="GetImageBase64_Handler"/>
      <add path="GetPDFBase64" verb="GET,POST" type="eFiling.GetPDFBase64_Handler" name="GetPDFBase64_Handler"/>
      <add path="GetImageURL" verb="GET,POST" type="eFiling.GetImageURL_Handler" name="GetImageURL_Handler"/>
      <add path="GetPDFURL" verb="GET,POST" type="eFiling.GetPDFURL_Handler" name="GetPDFURL_Handler"/>
      <add path="ParseCase" verb="GET,POST" type="eFiling.ParseCase_Handler" name="ParseCase_Handler"/>
      <add path="UpdateState" verb="GET,POST" type="eFiling.UpdateState_Handler" name="UpdateState_Handler"/>
      <add path="GetSessionID" verb="GET,POST" type="eFiling.GetSessionID_Handler" name="GetSessionID_Handler"/>
      <add path="SendFile" verb="GET,POST" type="eFiling.SendFile_Handler" name="SendFile_Handler"/>
      <add path="CloseSession" verb="GET,POST" type="eFiling.CloseSession_Handler" name="CloseSession_Handler"/>
      <add path="DeleteIMG" verb="GET,POST" type="eFiling.DeleteIMG_Handler" name="DeleteIMG_Handler"/>
      <add path="PDFUploadFile" verb="GET,POST" type="eFiling.PDFUploadFile_Handler" name="PDFUploadFile_Handler"/>
      <add path="T24UpdateState" verb="GET,POST" type="eFiling.T24UpdateState_Handler" name="T24UpdateState_Handler"/>
      <add path="*.xml" verb="*" type="eFiling.XmlSecurityHandler" name="eFiling.XmlSecurityHandler"/>
      <add path="*.log" verb="*" type="eFiling.LogSecurityHandler" name="eFiling.LogSecurityHandler"/>
    </handlers>
  </system.webServer>
</configuration>